@{
    /**/

    ViewBag.Title = "Home Page";
}
@{
    if (User.IsInRole("Administrador"))
    {
        <img src="~/Images/vaca1_2.png" style="position:absolute; left:600px; top:50px/>"
        
             
             <h5 align="left"> @Html.ActionLink("Registrar Animales", "Reg_animal") </h5>

        <img src="~/Images/vaca1_2.png" align="right">


        @*Registrar Animal*@
        <h5>   &nbsp    </h5>
        <h5> &nbsp </h5>
        <h5>   &nbsp    </h5>
        <h5> &nbsp </h5>


        <body>


            <h5 style="position:absolute; left:590px; top:170px; width:640px; height:60px "> @Html.ActionLink("Modificar Datos del Animal", "Bus_animal") </h5>

            <h5 align="right"> @Html.ActionLink("Buscar Animales", "Bus_animal")</h5>
        </body>



        <h5 align="left">@Html.ActionLink("Eliminar Registro de Animal", "Bus_animal") </h5>
        <h5>   &nbsp    </h5>
        <h5> &nbsp </h5>
        <h5>   &nbsp    </h5>
        <h5> &nbsp </h5>
    }

    else
    {
        <img src="~/Images/Granjero.jpg" />

        <h3> Hola</h3>
        <h4 align="left">Debe de iniciar Seccion para disfrutar de las Funciones</h4>

        <button id="SingIn" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:left;">
            @Html.ActionLink("Iniciar", "Login", "Account")
        </button>
    }
}

